<section *ngIf="completeQuiz$ | async as completeQuizData">
  <div class="side-btn">
    <button (click)="openSideWindow()">
      <i class="fa fa-angle-right"></i>
    </button>
  </div>
  <div (click)="closeSideWindow()">
    <div *ngIf="sideWindowVisible" class="side-window-container">
      <div class="side-window" (click)="$event.stopPropagation()">
        <div
          *ngFor="let question of completeQuizData.questions; let i = index"
          class="window-flex"
        >
          <h3 (click)="setCurrentQuestion(i)">
            {{ question.question.text }}
          </h3>
          <div class="attempted-question">
            <i class="fa fa-check-circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nav">
    <div class="navbar">
      <button
        class="icon-button"
        (click)="previousQuestion()"
        [disabled]="completeQuizData.questionNumber === 1"
      >
        <i class="fa fa-angle-left"></i>
      </button>
      <button class="ques-btn">
        Question {{ completeQuizData.questionNumber }}/{{
          completeQuizData.totalQuestions
        }}
      </button>
      <button class="icon-button" (click)="nextQuestion()">
        <i class="fa fa-angle-right"></i>
      </button>

      <button class="option-panel" (click)="toggleOptionWindow()">
        <i class="fas fa-check-square"></i>
      </button>

      <!-- <div class="timer">{{ uiTimer }}</div> -->
      <div class="timer">{{ completeQuizData.timer }}</div>
    </div>
  </div>
  <div class="container">
    <div class="quiz-flex">
      <h3>
        {{ completeQuizData.currentQuestion?.question?.text }}
      </h3>
      <ul>
        <li
          *ngFor="
            let option of completeQuizData.currentQuestion?.options;
            let i = index
          "
        >
          {{ option }}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="optionWindowVisible" class="option-window">
    <div class="radio-btns">
      <div
        *ngFor="
          let option of completeQuizData.currentQuestion?.options;
          let i = index
        "
      >
        <input
          type="radio"
          type="radio"
          name="options"
          id="{{ 'option' + i }}"
          (click)="handleOption(option)"
          [disabled]="completeQuizData.response"
        />
        <label
          [ngClass]="{
            correct:
              completeQuizData.response &&
              option === completeQuizData.correctAnswer,
            inCorrect:
              completeQuizData.response &&
              completeQuizData.response !== completeQuizData.correctAnswer
                ? option === completeQuizData.response
                : null
          }"
          for=""
          >{{ option }}</label
        >
      </div>
      <div class="btn-flex">
        <button
          class="next-btn"
          (click)="previousQuestion()"
          [disabled]="completeQuizData.questionNumber === 1"
        >
          Previous
        </button>
        <button
          class="next-btn"
          (click)="
            completeQuizData.questionNumber < completeQuizData.totalQuestions
              ? nextQuestion()
              : finishQuiz()
          "
        >
          {{
            completeQuizData.questionNumber < completeQuizData.totalQuestions
              ? 'Next'
              : 'Finish'
          }}
        </button>
      </div>
    </div>
  </div>
</section>
