.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    .result {
        border-radius: 10px;
        padding: 40px;
        width: 26rem;
        text-align: center;

        h1,
        h2 {
            margin-bottom: 25px;
        }

        .restart {
            margin-bottom: 25px !important;
        }

        span {
            color: #0abab5;
        }

        .flex {
            display: flex;
            justify-content: space-evenly;
            margin: 20px 5px;

            button {
                border-radius: 30px;
                font-size: 1.1rem;
                font-weight: 600;
                width: 10rem;
                margin: 0 auto;
                outline: none;
                padding: 11px 0;
                text-align: center;
                cursor: pointer;
                border: none;
                outline: none;
                background-color: #0abab5;
                color: #fff;
            }
        }


    }
}

.result-question {
    margin: 50px;

    h3 {
        font-size: 22px;
        font-weight: 500;
        color: #424242;
    }

    ul {
        list-style-type: upper-alpha;
        padding: 1.1rem;

        li {
            font-size: 18px;
            margin-top: 5px;
            margin-left: 10px;
        }
    }

    .correct-answer {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 500;
        color: #424242;

        span {
            color: #0abab5;
            font-size: 19px;

        }

    }

    .attempted-question {
        font-size: 19px;
        font-weight: 500;
        color: #424242;

        .notattempted {
            color: red;
        }

        .attempted {
            color: #0abab5;
        }
    }

}

.response {
    color: #0abab5;
}

.incorrect {
    color: red;
}