<mat-tab-group>
  <mat-tab label="Result">
    <div class="container" *ngIf="finishQuiz$ | async as finsihQuizData">
      <div class="result">
        <h1>Quiz Finished</h1>
        <h2>
          {{ finsihQuizData.username }}, You have done
          <span>{{ finsihQuizData.totalQuestions }}</span> questions
        </h2>
        <h3 class="restart">
          Your Total Score is : <span>{{ finsihQuizData.score }}</span> out of
          <span>{{ finsihQuizData.totalQuestions }}</span>
        </h3>
        <h3 class="restart">
          Your Percentage is :
          <span
            >{{
              (finsihQuizData.score / finsihQuizData.totalQuestions) * 100
            }}%</span
          >
        </h3>
        <h3>Do you want to restart quiz?</h3>
        <div class="flex">
          <button class="next-btn" (click)="restartQuiz()">Restart</button>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Question" *ngIf="finishQuiz$ | async as finsihQuizData">
    <div
      *ngFor="let question of finsihQuizData.questions; let i = index"
      class="result-question"
    >
      <h3>{{ question.question.text }}</h3>
      <ul>
        <li
          *ngFor="
            let option of question.incorrectAnswers
              .concat(question.correctAnswer)
              .sort()
          "
          [ngClass]="{
            response:
              option === question.correctAnswer ||
              finsihQuizData.userResponses[i] === option,
            incorrect:
              finsihQuizData.userResponses[i] === option &&
              option !== question.correctAnswer
          }"
        >
          {{ option }}
        </li>
      </ul>
      <h4 class="correct-answer">
        Correct Answer: <span>{{ question.correctAnswer }}</span>
      </h4>
      <h4 class="attempted-question">
        Attempted Question:
        <span
          [ngClass]="{
            attempted: finsihQuizData.userResponses[i] !== '',
            notattempted: finsihQuizData.userResponses[i] === ''
          }"
          >{{
            finsihQuizData.userResponses[i] === ''
              ? 'Not Attempted'
              : 'Attempted'
          }}</span
        >
      </h4>
    </div>
  </mat-tab>
</mat-tab-group>
